.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 20px;
    padding: 30px 20px 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
}

.product-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 0;
    padding-bottom: 100%;
    border-radius: 8px;
}

.product-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: left;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 8px 8px 0 0;
}

.product-label p {
    text-align: left;
    font-weight:500;
    padding: 15px;
    font-size: 20px;
}

.product-rating {
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
    padding-bottom: 17px;
    
}

.product-rating .star {
    color: #ccc
}

.product-rating .star.filled {
    color: #000000;
}

.product-rating .star.half {
    background: linear-gradient(90deg, #000000 50%, #ccc 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.product-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}
/* smaller screen */

@media (max-width: 1200px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1024px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .product-container {
        grid-template-columns: 1fr;
    }
}